<div class='container'>
    <%= form_with(model: @article, local: true) do |form| %>

        <div class='mb-3'>
            <%=form.label :title %>
            <%=form.text_field :title %>
        </div>

        <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <div class='mb-3'>
            <%= form.label :comment, style: "display: block" %>
            <%= form.rich_text_area :comment %>
        </div>

        <div class='mb-3'>
            <%=form.label :author %>
            <%=form.text_field :author %>
        </div>

        <div class='mb-3'>
            <%=form.label :pubished %>
            <%=form.text_field :pubished %>
        </div>

        <div class='mt-5'>
            <%=form.submit %>
        </div>
    <%end%>

    <div class='mt-5'>
        <%= link_to 'Home', root_path %>
    </div>


</div>