<div class='container mt-5'>

  <p style="color: green"><%= notice %></p>

  <div class="row">
    <div class='col-md-4'>
    </div>

    <div class="col-md-4 align-self-center">
      <div class="card text-center mb-5">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <%= link_to "New post", new_post_path, class:"nav-link active" %>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">
            <%= @post.title %>
          </h5>

          <p class="card-text">
            <%= @post.body %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-3 mx-auto'>
      <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-outline-danger" %>

      <%= link_to "Back to posts", posts_path, class:"btn btn-outline-danger" %>
    </div>
  </div>

  <div class="row">
    <div class='col-md-2 mx-auto'>
      <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-outline-danger mt-4" %>
    </div>
  </div>
</div>
